itap "cargo-lambda/cargo-lambda"
tap "inakam/tap"
tap "withgraphite/tap"
brew "aria2"
brew "awscli"
brew "chezmoi"
brew "cloudflared", restart_service: :changed
brew "cocoapods"
brew "codex"
brew "ffmpeg"
brew "gh"
brew "llvm"
brew "marp-cli"
brew "mise"
brew "neovim"
brew "pnpm"
brew "poetry"
brew "rbenv"
brew "tfenv"
brew "uv"
brew "xcodes"
brew "yt-dlp"
brew "zig"
brew "cargo-lambda/cargo-lambda/cargo-lambda"
brew "inakam/tap/codicat"
brew "withgraphite/tap/graphite"
cask "flutter"
cask "xcodes-app"
cask "raycast"
go "golang.org/x/tools/gopls"
go "honnef.co/go/tools/cmd/staticcheck"
cargo "cargo-update"
